@charset "UTF-8";

/* Importação de Font (Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

/* Variáveis */

:root {
    --cinza1: #b2b2b2;
    --cinza2: #a0a0a0;   
    --cinza3: #707070;
    --branco: #fff;
    --azul: #2771a2;
    --azul1: #7f98b0;
    --azul2: #033150;
    --azul3: #00607c;
    --azul4: #002530;
    --vermelho: #760202;
}

/* CSS Reset (compatibilizar com todos os navegadores*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Layout */
body {
    font-family: "Montserrat", serif;
    font-size: 1em; /* 1em = 100% (tamanho padrão) */
    background-color: var(--azul4);
}

.container {
    margin: 0 auto; /* centraliza o bloco de layout*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3em;
    background-color: var(--vermelho);
    font-weight: bold;
    width: 120px;
    padding: 3px 0px;
    border: 2px solid var(--branco);
    border-radius: 20px;
    align-self: center;
    margin-top: 10px;
}

/* Fim do Layout */

/* Smartphone Portrait >>>>>>>>>>>>>>>*/

/* Cabeçalho */
header {
    height: 60px;
    background-color: var(--azul4);
    
}

#logo img {
    width: 125px;
    height: 75px;
    margin: 20px 0px 0px 15px;

}

#check {
    display: none;
}

/* Efeito de deslizar o menu */
/* Se check estiver "ticado" criar um estilo para <ul> */
#check:checked~ul {
    right: 0px;
}

label {
    font-size: 2em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: var(--branco); /* 0.5 = 50% transparencia (0 a 1 (100% */
}

nav ul {
    list-style: none; /* Remover bullets (bolinhas)*/
    background-color: var(--azul4); /* Cor do menu */
    height: 100vh; /* 100vh - 100% da altura da tela */
    position: fixed;
    top: 60px; /* Alinhar o menu com o cabeçalho */
    right: -50%; /* Posição do menu **colocar para a direita (rigth)** */
    width: 50%; /* Tamanho do menu ao abrir */
    transition: all 0.7s;

}

nav ul li {
    padding: 15px 20px 15px 20px; /* 1= top | 2=right | 3=botton | 4=left */
    border-bottom: 1px solid var(--branco); /* Linhas sobre os nomes do menu */
    text-align: right;
}

nav ul li a {
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
    }

    /* Banner */
main {
    height: 70vh; /* Ajuste de altura do banner */
    background: url(img/banner3.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1, h2 {
    color: var(--branco) ;
    text-shadow: var(--azul4) 0.03em 0.03em 0.03em; /* sombra */ 
}

main h1 {
    font-size: 2.2em;
}
main h2 {
    font-size: 0.9em;
}

.botao {
    width: 120px;
    padding: 3px 0px;
}

/*** Destaque ***/

#destaque {
    background: url(img/banner4.jpg);
    background-size: cover;
    background-position: center;
    /* Espaçamento interno para não encostar nas bordas */
    padding: 50px 15px;
}

/* Organizando o container após o destaque o estilo é aplicado apenas ao container da seção de destaque */

#destaque .container {
    flex-direction: column;
    align-items: center;
}

/* Para esconder a imagem, usamos display:none no container da imagem | Para exibir novamente em telas maiores, usamos display: block 

#imagemDestaque {
    display: none;
} */

#imagemDestaque img {
    width: 200px;
    height: 200px;
    /* Arredondar um imagem quadrada */
    border-radius: 50%;

}

#textoDestaque {
    color: var(--branco)
}

#textoDestaque h2 {
    margin-bottom: 20px;
}

/* Atenção !!! Detalhe do sinal ">" referente ao elemento imediato */

#textoDestaque>p {
    /*color: var(--azul);*/
    margin-bottom: 15px;
}

.topicos {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.topicos img {
    margin-right: 10px;
}

.topicos p {
    font-weight: 600;
}

/************ Sobre ***********/
/* O estilo abaixo será aplicado apenas ao container que está subordinado a section "sobre" */
#sobre1 {
    background-color: var(--azul4);
}

#sobre1 .container {
    flex-direction: column;
}

#sobre1 {
    padding: 50px 15px;
}

#sobre1 h2, p {
    color: var(--branco);
}

#sobre1 h2 {
    margin-bottom: 20px;
}

#video iframe {
    width: 340px;
    height: 191px;
    margin-top: 20px;
}

/*<<<<<<<<<< Fim Smartphone Portrait<<<<<<<<<<<<*/

/* Smartphone Landscape >>>>>>>>>>>>>>*/

@media (min-width: 576px) {
        /****** Layout ******/
        .container {
            max-width: 540px;
            /* background-color: #ffff00;*/
        }
    
        /****** Cabeçalho ******/
        nav ul {
            right: -25%;
            width: 25%;
        }
    
        /****** Banner ******/
        main {
            height: 100vh;
        }
    
        main h1 {
            font-size: 3em;
        }
    
        /*Destaque */
    
        #destaque .container {
            flex-direction: row;
    
        }
    
        #imagemDestaque{
            margin-right: 50px;
        }
    
        #imagemDestaque img {
            width: 256px;
            height: 256px;
    
        }
        /******sobre******/
        #video iframe {
            width: 560px;
            height: 315px;
            
        }
    }

/*<<<<<<<<<<<<<<<<<FIM SMARTPHONE LANDSCAPE <<<<<<<<<<<<<<<<<<<*/

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>*/

@media (min-width: 768px) {

    /******* Layout ******/
    .container {
        max-width: 720px;
        /* background-color: #00ff00; */
    }

    /****** Banner ******/
    main {
        height: 80vh;
    }

    main h1 {
        font-size: 440%;
    }

    main h2 {
        font-size: 170%;
    }

    .botao {
        width: 160px;
        padding: 3px 0px;
        margin-top: 15px;
    }

    /*Destaque*/
    #imagemDestaque img {
        width: 440px;
        height: 440px;
    }

    #logo img {
        width: 160px;
        height: 105px;
        margin-top: 65px;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Tablet Landscape >>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

    /****** Layout ******/
    .container {
        max-width: 960px;
        /* background-color: #ffa500; */
    }

    /****** Banner ******/
    main {
        height: 70vh;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {

    /****** Layout ******/
    .container {
        max-width: 1140px;
        /* background-color: #ff009d; */
        
    }

    /****** Cabeçalho ******/
    header {
        height: 100px;
    }

    #logo img {
        width: 194px;
        height: 194px;
        margin-top: 10px;
    }

    /* Transformação do menu */
    label {
        display: none;
    }

    nav ul {
        margin-top: 25px;
        width: 100%;
        height: auto;
        position: static;
        /* remover a cor do background */
        background-color: transparent;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: var(--branco);
    }

    nav ul li a:hover {
        color: var(--cinza1);
    }

    /****** Banner ******/
    main h1 {
        font-size: 6em;
    }

    main h2 {
        font-size: 2em;
    }

    /*Destaque*/
    #destaque {
        /*O codigo abaixo fixa o banner(efeito parallax
        */
        background-attachment: fixed;
    }

    /******sobre******/
    #sobre1 .container {
   flex-direction: row; 
   align-items: center;
    }
    #video iframe {
        margin: 0px 0px 0px 20px;
    }
}
/* Fim | PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Telas FullHD / 4k / Smart Tv >>>>>>*/

@media (min-width: 1400px) {
    /* Cabeçalho */
    .container {
        max-width: 1360px; 
    
    }
    header {
        height: 120px;
    }
    #logo img {
        width: 180px;
        height: 100px;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
