@charset "UTF-8";

/* Importação de Font (Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

/* Variáveis */

:root {
    --cinza1: #b2b2b2;
    --cinza2: #a0a0a0;   
    --cinza3: #707070;
    --branco: #fff;
    --azul: #2771a2;
    --azul1: #7f98b0;
    --azul2: #033150;
}

/* CSS Reset (compatibilizar com todos os navegadores*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Layout */
body {
    font-family: "Montserrat", serif;
    font-size: 1em; /* 1em = 100% (tamanho padrão) */
    text-align: center;

}

.container {
    margin: 0 auto; /* centraliza o bloco de layout*/
    text-align: center;

}

.botao {
    text-decoration: none;
    color: var(--azul2);
    font-size: 1.3em;
    background-color: var(--branco);
    font-weight: bold;
    width: 120px;
    padding: 3px 0px;
    border: 2px solid var(--azul2);
    border-radius: 20px;
    align-self: center;
    margin-top: 10px;

}

/* Smartphone Portrait >>>>>>>>>>>>>>>*/
/* Cabeçalho */
header {
    height: 80px;
    background-color: #2771a2;
}


#logo img {
    width: 110px;
    height: 60px;
    margin: 9px 0px 0px 7px; /* 1= top | 2=right | 3=botton | 4=left */
}

#check {
    display: none;
}

/* Efeito de deslizar o menu */
/* Se check estiver "ticado" criar um estilo para <ul> */
#check:checked~ul {
    left: 0px;
    transition: 0.7s;

}

label {
    font-size: 2em;
    position: fixed;
    top: 15px;
    height: 15px;
    right: 15px;
    color: var(--azul2); /* 0.5 = 50% transparencia (0 a 1 (100% */
}

nav ul {
    height: 100vh; /* 100vh - 100% da altura da tela */
    background-color: var(--azul1); /* Cor do menu */
    list-style: none; /* Remover bullets (bolinhas)*/
    width: 50%; /* Tamanho do menu ao abrir */
    position: fixed; 
    top: 80px; /* Alinhar o menu com o cabeçalho */
    left: -50%; /* Posição do menu **colocar para a direita (rigth)** */

}

nav ul li {
    padding: 15px 20px 15px 20px; /* 1= top | 2=right | 3=botton | 4=left */
    border-bottom: 1px solid var(--branco); /* Linhas sobre os nomes do menu */
    text-align: left;
    
}

nav ul li a {
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
    }

    /* Banner */
main {
    height: 70vh; /* Ajuste de altura do banner */
    background: url(img/6S4A0817.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1, h2 {
    color: var(--branco) ;
    text-shadow: var(--azul2) 0.05em 0.05em 0.05em; /* sombra */ 
}

main h1 {
    font-size: 2.3em;
}
main h2 {
    font-size: 1em;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Smartphone Landscape >>>>>>>>>>>>>>*/

@media (min-width: 576px) {
    /* Cabeçalho */
    #logo img {
        margin: 7px 0px 0px 0px; /* 1= top | 2=right | 3=botton | 4=left */
    }

    .container {
       /* max-width: 540px;*/
        background-color: #2771a2;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>*/

@media (min-width: 768px) {
    
    .container {
       /* max-width: 720px; */
        background-color: #2771a2;
    }
    /* Cabeçalho */
    header {
        height: 80px;
    }
    #logo img {
        width: 115px;
        height: 65px;
    }

    nav ul {
        top: 80px;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Tablet Landscape >>>>>>>>>>>>>>>>>>*/

@media (min-width: 992px) {
    
    .container {
       /* max-width: 960px; */
        background-color: #2771a2;
    }
    /* Cabeçalho */
    header {
        height: 95px;
    }
    #logo img {
        width: 140px;
        height: 80px;
    }

    nav ul {
        top: 95px;
    }
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Pcs / Notebooks >>>>>>>>>>>>>>>>>>>*/

@media (min-width: 1200px) {
   
    .container {
       /* max-width: 1140px; */
        background-color: #2771a2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
 /* Cabeçalho */
    header {
        height: 110px;
    }

    body {
        text-align: left;
    }
    #logo img {
        width: 150px;
        height: 90px;
        margin: 8px 0px 0px 40px;
    }
/* Transformação do menu */
    label {
        display: none;
    }

    nav ul {
        width: 100%;
        height: auto;
        position: static;
        /*background-color: transparent; /* Remover a cor do background */
    }

    nav ul li {
        float: left;
        border: 0;
        margin-right: 50px;
        display: flex;
    }

    nav ul li a {
        color: var(--branco);
    }
    
    nav ul li a:hover {
        color: var(--azul1);
    }

    main h1 {
        font-size: 700%;
        text-align: center;
    }
    
    main h2 {
        font-size: 250%;
        text-align: center;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Telas FullHD / 4k / Smart Tv >>>>>>*/

@media (min-width: 1400px) {
    /* Cabeçalho */
    .container {
       /* max-width: 1360px; */
        background-color: #2771a2;
    }
    header {
        height: 120px;
    }
    #logo img {
        width: 180px;
        height: 100px;
    }

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
